.taskDisable {
    opacity: 0.5;
}
.toDoLists {
    width: fit-content;
}
.tasksDiv {
    display: flex;
    justify-content: space-between;
}

.btnsGroup {
    display: flex;
    justify-content: space-between;
}

.btnsGroup button {
    min-width: 79px;
}

.addItem {
    padding: 20px 0;
}

.paperBlock {
    padding: 10px;
}

.headerTitle {
    text-align: center;
}